<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<form action="/saveImg" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" value="">
    <br>
    <input type="file" name="avatarFile" value="">
    <input type="submit" value="提交">
</form>
<a href="/test">测试</a>
<a href="/logout"> 退出</a>
</body>
</html>